PRESET_NET_CHANGE_DEFAULTS="1"
PRESET_NET_ETHERNET_ENABLED="1"
PRESET_NET_WIFI_ENABLED="0"

SET_LANG_BASED_ON_LOCATION="n"
PRESET_LOCALE="en_US.UTF-8"
PRESET_TIMEZONE="Etc/UTC"

PRESET_ROOT_PASSWORD="$ROOT_PASSWORD"

PRESET_DEFAULT_REALNAME="Armbian"
PRESET_USER_NAME="armbian"
PRESET_USER_PASSWORD="$USER_PASSWORD"
PRESET_USER_KEY="file:///root/.ssh/maurice.pub"
PRESET_USER_SHELL="zsh"
